VITE_FIREBASE_API_KEY="AIzaSyBC5y_GJimWLEFm2X75YxAi1NIykK8LLwg"
VITE_FIREBASE_AUTH_DOMAIN="shimsy-portfolio.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="shimsy-portfolio"
VITE_FIREBASE_STORAGE_BUCKET="shimsy-portfolio.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="242327981789"
VITE_FIREBASE_APP_ID="1:242327981789:web:78071288e6cbd26f559534"
